#react-instagram-carousel
  position: relative
  width: 100%
  height: 100%
  background-color: gray
  background-repeat: no-repeat;
  background-position: center;
  display: flex

  .hidden-box-for-click-skip
    position: relative
    width: 50%
    height: 100%

  .bar-box
    position: absolute;
    bottom: 0
    width: 100%
    height: 15%
    display: flex
    justify-content: center
    align-items: center

    .bar
      position: relative
      width: auto
      background-color: rgba(255, 255, 255, .2);
      margin-right: 2%
      overflow: hidden

      .load
        position: relative
        width: 0
        height: 100%
        background-color: #fff
